.panda-img{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.panda-foot-img
{
  height: 3rem;
  width: 3rem;
  opacity: 0.7;
}

.sign-up
{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  background-color: #2BCF61;
  color: white;
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.1rem;
  border: none;
}

.log-in{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  background-color: #eef2f3;
  color: #2a3e52;
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.1rem;
  border: none;
}

.left-div
{
  height: 50rem;
  border : 1px solid rgb(77, 9, 9);
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .left-div::-webkit-scrollbar {
  display: none;
} */


.middle-div{
  height: 50rem;
  border : 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
}

.right-div{
  height: 50rem;
  border : 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
}