@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

/* navigation-bar css starts here */

.panda-img{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.panda-foot-img
{
  height: 3rem;
  width: 3rem;
  opacity: 0.7;
}

.sign-up
{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  background-color: #2BCF61;
  color: white;
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.1rem;
  border: none;
}

.log-in{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  background-color: #eef2f3;
  color: #2a3e52;
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.1rem;
  border: none;
}

/* navigation-bar css ends here */

.left-div
{
  height: 45.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .left-div::-webkit-scrollbar {
  display: none;
} */


.middle-div{
  height: 45.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.right-div{
  height: 45.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.flag{
  height: 2.2rem;
  
}

.flag:hover{
  transition: 0.2s;
  transform: scale(1.2, 1.2);
}

.country-name{
  font-weight: bold;
  font-size: 1.5rem;
}

.country-name:hover{
  transition: 0.2s;
  transform: scale(1.1, 1.1);
}

.news-title-div{
  /* border: 1px solid rgb(146, 146, 134); */
  border: 1px solid #2BCF61;
  border-radius: 4px;
  margin-top: 0.7rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
}

/* .news-title:hover{
  transition: 0.2s;
  transform: scale(1, 1.2);
} */

.read-more{
  margin-top: 1rem;
  color:#2BCF61 ;
  text-decoration: none;
}

.read-more:hover{
  transition: 0.2s;
  transform: scale(1, 1.1);
}

.frame{
  height: 4.5rem;
  width: 10rem;
  border: 1px solid;
}