@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

/* navigation-bar css starts here */

.panda-img{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.panda-foot-img
{
  height: 3rem;
  width: 3rem;
  opacity: 0.7;
}

.sign-up
{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  background-color: #2BCF61;
  color: white;
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.1rem;
  border: none;
}

.log-in{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  background-color: #eef2f3;
  color: #2a3e52;
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.1rem;
  border: none;
}

/* navigation-bar css ends here */

.left-div
{
  height: 45.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .left-div::-webkit-scrollbar {
  display: none;
} */


.middle-div{
  height: 45.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.right-div{
  height: 45.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.flag{
  height: 2.2rem;
}

.flag:hover{
  transition: 0.2s;
  transform: scale(1.2, 1.2);
}

.country-name{
  font-weight: bold;
  font-size: 1.5rem;
}

.country-name:hover{
  transition: 0.2s;
  transform: scale(1.1, 1.1);
}

.news-title-div{
  /* border: 1px solid rgb(146, 146, 134); */
  border: 1px solid #2BCF61;
  border-bottom: 4px solid #2BCF61;
  border-radius: 4px;
  margin-top: 0.7rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
}

.news-title-div:hover{
  transition: 0.2s;
  /* transform: scale(1, 1.1); */
  transform-style: preserve-3d;
}

.news-title{
  font-size: 1.2rem;
}

.news-source{
  margin-top: 0.5rem;
}



.read-more{
  margin-top: 1rem;
  color:#2BCF61 ;
  text-decoration: none;
}

.read-more:hover{
  transition: 0.2s;
  transform: scale(1, 1.1);
}

.frame{
  height: 4.5rem;
  width: 10rem;
  border: 1px solid;
}

.right-title{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  
}

.published-at{
    font-size: 1.1rem;
    margin-top: 0.8rem;
}

.right-img{
  height: 30rem;
  width: 57.5rem;
}

.right-description{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 550;
  text-align: justify;
}

.more-information{
  color: rgb(56, 187, 16);
  text-decoration: none;
  text-align: justify;
}

.display{
  display: none;
}

.mobile-dropdown-div{
  display: block;
}

.dropdown{
  display: block;
  margin-left: 0.5rem;
  height: 2rem;
  width: 94%;
  border-radius: 0.3rem;
  background-color: #2BCF61;
  color: white;
  border: none;
}



.mobile-title-div{
  margin-left: 0.5rem;
}

.mobile-description-div{
  display: none;
  padding: 0.5rem;
}

.back-btn{
  margin-left: 0.2rem;
  font-size:1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  background-color: #2BCF61;
  color: white;
  height: 2rem;
  width: 5rem;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.1rem;
  border: none;

}


@media only screen and (min-width: 1025px) and (max-width : 1440px){

    .sign-up
    {
      font-size: 0.8rem;
      height: 2rem;
      width: 4rem;
    }

    .log-in{
      font-size: 0.8rem;
      height: 2rem;
      width: 4rem;
    }

    .panda-foot-img
    {
      height: 2rem;
      width: 2rem;
      margin-top: 0.5rem;
    }

    .country-name{
      font-weight: bold;
      font-size: 1.1rem;
    }

    .left-div
    {
      height: 29rem;
    }


    .middle-div
    {
      height: 29rem;
    }

    .right-div{
      height: 29rem;
    }

    .right-img{
      height: 20rem;
      width: 43rem;
    }
}

@media only screen and (min-width: 767px) and (max-width : 1024px){

    .sign-up
    {
      font-size: 0.7rem;
      height: 1.6rem;
      width: 4rem;
    }

    .log-in{
      font-size: 0.7rem;
      height: 1.6rem;
      width: 4rem;
    }

    .panda-foot-img
    {
      height: 1.5rem;
      width: 1.5rem;
      margin-top: 0.5rem;
    }

    .country-name{
      font-size: 0.7rem;
    }

    .flag{
      height: 1.5rem;
    }

    .left-div
    {
      height: 29rem;
    }
    
    .middle-div
    {
      height: 29rem;
    }

    .right-div{
      height: 29rem;
    }

    .right-img{
      height: 15rem;
      width: 30rem;
    }

}

@media only screen and (min-width: 426px) and (max-width : 768px){
  .sign-up
    {
      font-size: 0.6rem;
      height: 1.3rem;
      width: 3.3rem;
      padding: 0;
    }

    .log-in{
      font-size: 0.6rem;
      height: 1.3rem;
      width: 3.3rem;
      padding: 0;
    }

    .panda-foot-img
    {
      height: 1rem;
      width: 1rem;
      margin-top: 0.5rem;
    }

    .country-name{
      font-size: 0.5rem;
    }

    .flag{
      height: 1.4rem;
    }

    .left-div
    {
      height: 29rem;
    }
    
    .middle-div
    {
      height: 29rem;
    }

    .right-div{
      height: 29rem;
    }

    .right-img{
      height: 10rem;
      width: 22rem;
    }

}







@media only screen and (min-width: 768px){
  .mobile-dropdown-div{
    display: none;
  }

}

@media only screen and (min-width: 320px) and (max-width:374px){
  .main-div{
    display: none;
  }

  .mobile-dropdown-div{
    display: block;
  }

  .right-title{
    font-size: 1.2rem;
  }
  
  .published-at{
      font-size: 1rem;
      margin-top: 0.5rem;
  }
  
  .right-img{
    height: 10rem;
    width: 100%;
    
  }
  
  .right-description{
    font-size: 1rem;
  }
  
  .more-information{
    font-weight: bold;
  }

}

@media only screen and (min-width: 375px) and (max-width:424px){

  .main-div{
    display: none;
  }

  .mobile-dropdown-div{
    display: block;
  }

  .right-title{
    font-size: 1.2rem;
  }
  
  .published-at{
      font-size: 1rem;
      margin-top: 0.5rem;
  }
  
  .right-img{
    height: 10rem;
    width: 100%;
    
  }
  
  .right-description{
    font-size: 1rem;
  }
  
  .more-information{
    font-weight: bold;
  }

}

@media only screen and (min-width: 425px) and (max-width:767px){

  .main-div{
    display: none;
  }

  .mobile-dropdown-div{
    display: block;
  }

  .right-title{
    font-size: 1.2rem;
  }
  
  .published-at{
      font-size: 1rem;
      margin-top: 0.5rem;
  }
  
  .right-img{
    height: 10rem;
    width: 100%;
    
  }
  
  .right-description{
    font-size: 1rem;
  }
  
  .more-information{
    font-weight: bold;
  }

}